.underline-text {
    color: white;
    font-size: 22px; /* Default size for large devices */
}

.underline-text .underline {
    display: block;
    width: 100%;
    height: 1px; /* Adjusted height for a thin underline */
    margin-top: 2px;
}

/* Media query for smaller devices */
@media (max-width: 768px) {
    .underline-text {
        font-size: 10px; /* Font size for small devices */
    }
}
